.imagenes-contacto{
    background-color: #F0E9D2;
    width: 100%;

    .col{
        padding: 20px;
    }

    }

.color{
        background-color: #E6DDC4;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: cursive;

        .complete{
            font-family: cursive;
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        .mb-3{
            padding: 10px;
        }
        .form-label{
            padding-left: 10px;
        }
    }

.pie-3{
        background-color: #435560;
        width: 100%;
    
        .class-contacto{
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-family: cursive;
            width: 100%;
            background-color: #435560;    
        }
        .Iconos{
            padding: 20px;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding-bottom: 15px;
        }
    
    }



