*{
    margin: 0;
    padding: 0;

}

.contenedor-presentacion{

    background-color: #E6DDC4;

}


.quienes{
    
    
    font-family: cursive;
    display: flex;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 50px;
    padding-top: 20px;
    
}

.hola{

    
    font-family: cursive;
    display: flex;
    font-size: 15px;
    line-height: 2;
    margin-left: 1%;
    font-weight: 550;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 75px;
    padding-top: 1px;

}

.Muebles-nuestros{

    margin-left: 2px;
    display: flex;
    font-size: 15px;
    margin-left: 1%;
    font-family: cursive;
    line-height: 1;
    font-weight: 550;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 75px;
    padding-top: 1px;
    
}

.contenedor-divs{

    padding: 80px;
    overflow: hidden;
    display: flex;
    list-style-type: none;
    padding-bottom: 40px;

}

.contenedor-divs{
    display: grid;
    grid-template-areas: 
    "Video carrusel";
}

.Video{
    grid-area: Video;
    width: 100%;
}
.carrusel{
    grid-area: carrusel;
    width: 100%;
}

.oferta-contenedor{
    background-color: #F0E9D2;
    width: 100%;
}

.oferta-contenedor{
    display: flex;
    justify-content: space-evenly;
}
.J{
    display: flex;
    justify-content: center;
}
.B{
    display: flex;
    justify-content: center;
}
.N{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.O{
    display: flex;
    justify-content: center;
}
.Linea-2{
    padding-bottom: 20px;
    margin: 10px;
}
.Linea-1{
    padding-top: 10px;
    margin: 5px;
}
.ofertas-5{
    padding-left: 10px;
}

.ofertas{

    font-size: 30px;
    padding-top: 10px;
    padding-left: 30px;
    font-family: cursive;
    width: 100%;
    background-color: #F0E9D2;
}

.pie{

    background-color: #435560;
    width: 100%;

}

.class-contacto{

    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: cursive;
    width: 100%;
    background-color: #435560;
    
}

.Iconos{

    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 15px;

    
}

/* Empieza HTML Ayuda*/

.conteiner{
    padding-top: 10px;
    background-color: #F0E9D2;
}

.Ayuda{

    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: cursive;
    font-size: 40px;
    background-color: #F0E9D2;

}

.ayudanos{

    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: cursive;

}

.dudas{

    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: cursive;

}

.letra{
    font-size: 20px;
}
.letra-2{
    font-size: 20px;
}

.fin{
    padding: 15px;
}

.fin-2{
    padding: 15px;
}

.ofertas-23{
    font-size: 35px;
    font-family: cursive;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #F0E9D2;
}

.info{

    padding-left: 20px;
    padding-top: 5px;

}

.info-2{

    padding-left: 20px;
    padding-top: 5px;

}

/* Empieza HTML Tienda*/

.fotos{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.todo{

    padding: 20px;
    font-family: cursive;
    background-color: #F0E9D2;
    font-size: 35px;

}

.selecciona{

    font-family: cursive;
    font-size: 20px;
    padding: 30px;
    background-color: #F0E9D2;

}

.menor{

    font-family: cursive;
    font-size: 13px;

}


.mayor{

    font-family: cursive;
    font-size: 13px;

}

.nuevo{

    font-family: cursive;
    font-size: 13px;

}

.viejo{

    font-family: cursive;
    font-size: 13px;

}


.fotos{
    background-color: #E6DDC4;
}

.primera-linea{
    width: 600px;
}
.segunda-linea{
    width: 600px;
    padding-bottom: 40px;
}
.negro{
    color: black;
}

.nombre-ofertas{
   background-color: #E6DDC4; 
}

.ofertas{
    padding-left: 30px;
    padding-top: 15px;
    font-family: cursive;
}
.productos{
    background-color: #E6DDC4;
}
.selecciona{
    background-color: #E6DDC4;
    text-decoration: none;
}
.todo{
    background-color: #E6DDC4;
}

/* Empieza HTML contactanos*/

.col{
    padding: 20px;
}

.nombre{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;

}

.imagenes-contacto{
    background-color:#F0E9D2;
    width: 100%;
}
.color{
    padding: 20px;
    background-color:#F0E9D2;
    font-family: cursive;
}

/* Empieza HTML Youtube*/

.fotos-{
    background-color: #E6DDC4;
}
.quienes-3{
    padding: 25px;
    font-family: cursive;
    font-size: 25px;
    background-color:#F0E9D2;
}

.text-center{
    padding: 25px;
    background-color:#F0E9D2;
}

.manejamos{

    padding: 25px;
    font-family: cursive;
    font-size: 25px;
    background-color:#F0E9D2;
}


/* empieza grid de contactanos */

.nav-contenedor{
    padding-top: 200px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 100fr 100f 100fr;
    grid-gap: 40px;
    background-color: #E6DDC4;

}

.imagen-whatsapp{
    grid-column: 1/2;
}
.numero{
    grid-column: 2/3;
    grid-row: 1/2;
}
.imagen-maps{
    grid-column: 3/4;
    grid-row: 1/2;

}
.imagen-whatsapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numero{
    display: flex;
    align-items: center;
    font-family: cursive;
}

.imagen-logo-grande-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contenedor-formulario{
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px ;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    grid-gap: 20px;
}


.formulario{
    grid-row:  1/2;
}

.formulario{
    display: flex;
    font-size: 20px;
    font-family: cursive;
    padding-left: 20px;

}

.nombre{
    grid-row: 2/3;
}

.nombre{
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
}

.nombre-1{
    border-radius: 10%;
}

.apellido{
    grid-row: 3/4;
}

.apellido{
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
}

.apellido-1{
    border-radius: 10%;
}

.email{
    grid-row: 4/5;
}

.email{
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
}

.email-1{
    border-radius: 10%;
}

.mensaje{
    grid-row: 5/6;
}

.mensaje{
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
}

.mensaje-1{
    border-radius: 10%;
}

.enviar{

    grid-column: 2/3;
    grid-row: 3/4;

}

.enviar{
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.limpiar{
    grid-column: 2/3;
    grid-row: 4/5;
}

.limpiar{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

/* Empieza media queries index */

@media screen and (max-width: 1000px) {

    *{
        margin: 0;
        padding: 0;
    }

    .quienes{
        justify-content: center;
    }

    .hola{
        justify-content: center;
    }

    .Muebles-nuestros{
        justify-content: center;
        padding-bottom: 20px;
    }
    
.contenedor-divs{
    display: grid;
    grid-template-areas: 
    "Video"
    "carrusel"
    ;
    row-gap: 200px;
}
.Video{
    grid-area: Video;
}
.carrusel{
    grid-area: carrusel;
}

    .oferta-contenedor{
        background-color: #F0E9D2;
        width: 100%;
    }
    
    .oferta-contenedor{
        display: flex;
        justify-content: space-evenly;
    }
    .J{
        display: flex;
        justify-content: center;
    }
    .B{
        display: flex;
        justify-content: center;
    }
    .N{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    .O{
        display: flex;
        justify-content: center;
    }
    .Linea-2{
        padding-bottom: 20px;
        margin: 10px;
    }
    .Linea-1{
        padding-top: 10px;
        margin: 5px;
    }
    .ofertas-5{
        padding-left: 10px;
    }
    
    .ofertas{
    
        font-size: 30px;
        padding-top: 10px;
        padding-left: 30px;
        font-family: cursive;
        width: 100%;
        background-color: #F0E9D2;
    }



    /* empieza queries contactanos */


    .formulario{
        display: grid;
        grid-template-areas: 
        "escribir-333 escribir-333"
        "enviar limpiar"
        ;
    }

    .escribir-333{
        grid-area: escribir-333;
    }
    .info{
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    .enviar{
        grid-area: enviar;
    }
    .limpiar{
        grid-area: limpiar;
    }
    .Ayuda{
        display: flex;
        justify-content: center;

    }
    .ayudanos{
        display: flex;
        padding-left: 50px;
    }

    .formulario-2{
        display: grid;
        grid-template-areas: 
        "info-2 info-2"
        "enviar-2 limpiar-2"
        ;
    }
    .info-2{
        grid-area: info-2;
    }
    .enviar-2{
        grid-area: enviar-2;
    }
    .limpiar-2{
        grid-area: limpiar-2;
    }

    .dudas{
        padding-left: 50px;
    }

    .info-2{
        display: flex;
        justify-content: center;
        padding: 25px;
    }

    .formulario-2{
        padding-bottom: 50px;
    }

    /* empieza html tienda */

    .linea-1{
        display: grid;
        grid-template-areas: 
        "imagen-a imagen-b imagen-c"
        "a b c"
        ;
    }

    .imagen-a{
        grid-area: imagen-a;
    }
    .imagen-b{
        grid-area: imagen-b;
    }
    .imagen-c{
        grid-area: imagen-c;
    }
    .a{
        grid-area: a;
    }
    .b{
        grid-area: b;
    }
    .c{
        grid-area: c;
    }

    .linea-2{
        display: grid;
        grid-template-areas: 
        "imagen-d imagen-e imagen-f"
        "d e f"
        ;
    }

    .imagen-d{
        grid-area: imagen-d;
    }
    .imagen-e{
        grid-area: imagen-e;
    }
    .imagen-f{
        grid-area: imagen-f;
    }
    .d{
        grid-area: d;
    }
    .e{
        grid-area: e;
    }
    .f{
        grid-area: f;
    }

}
